body {
    margin: 10;
    max-width: 100%;
    height: auto;
}

.house {
    vertical-align: text-top;
}

/*Background image is responsive*/

.background .house {
    max-width: 100%;
}

.background {
    position: relative;
}